<div id="container" class="row">
    <div class="col-xs-12 col-md-12">
        <div class="widget">
            <div class="widget-header  with-footer">
                <span class="widget-caption"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">商品属性</font></font></span>
                <div class="widget-buttons">
                    <a href="#" data-toggle="maximize">
                        <i class="fa fa-expand"></i>
                    </a>
                    <a href="#" data-toggle="collapse">
                        <i class="fa fa-minus"></i>
                    </a>

                </div>
            </div>

            <div class="widget-body">
                <form action="" method="get" name="searchForm">
                <div class="buttons-preview ">
                    <select class="input-xs" name="stypeId">
                        <option value="" selected="selected">不限类型</option>
                            <?php foreach($typeData as $k => $v):
                            ?>
                            <option value="<?=$v['id']?>" <?php if($select == $v['id']){echo 'selected';}?>><?=$v['typeName']?></option>
                            <?php endforeach; ?>
                    </select>
                    <select class="input-xs" name="attrType">
                        <?php $attrType = input('get.attrType');?>
                        <option value="" {if condition="$attrType eq ''"}selected="selected"{/if}>不限属性类型</option>
                        <option value="1" {if condition="$attrType eq 1"}selected="selected"{/if}>单选</option>
                        <option value="2" {if condition="$attrType eq 2"}selected="selected"{/if}?>唯一</option>

                    </select>
                    <div class="widget-buttons ">
                        <?php $searchText = input('get.searchText');?>
                        <input type="text" value="<?=$searchText?>" class="form-control input-xs widget-buttons" name="searchText" id="glyphicon-search" placeholder="属性名称">
                    </div>
                    <button class="btn btn-info btn-xs" onclick="javascript:document.searchForm.submit();" style="margin-top:8px;"><i class="fa fa-search"></i> 点击查询</button>
                    <button class="btn btn-success btn-xs" id="reset" style="margin-top:8px;"><i class="fa fa-backward"></i> 点击重置</button>
                </div>
                </form>
                <div class="buttons-preview">
                    <button class="btn btn-info btn-xs " id="linkAdd"><i class="fa fa-plus"></i> 添加属性</button>
                </div>
                <div class="flip-scroll">
                    <table class="table table-bordered table-striped table-condensed flip-content">
                        <thead class="flip-content bordered-palegreen">
                        <tr>
                            <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                id
                            </font></font></th>
                            <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                属性名称
                            </font></font></th>
                            <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                属性类型
                            </font></font></th>
                            <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                属性可选值
                            </font></font></th>
                            <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                所属类型
                            </font></font></th>
                            <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                相关操作
                            </font></font></th>
                        </tr>
                        </thead>
                        <tbody>
                        {volist name="list" id="vo"}
                        <tr>
                            <td class="numeric"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                {$vo.id}
                            </font></font></td>
                            <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                {$vo.attrName}
                            </font></font></td>
                            <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                {if condition="$vo['attrType'] == 1"}
                                单选
                                {else /}
                                唯一
                                {/if}
                            </font></font></td>
                            <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                {$vo.attrValues}
                            </font></font></td>
                            <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                {$vo.typeName}
                            </font></font></td>
                            <td>
                                <a href="{:url('edit',array('id' => $vo.id))}" class="btn btn-info btn-xs"><i class="fa fa-edit"></i> 修改</a>
                                <button value="{$vo.id}" flag="del" name="bootbox-confirm" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i>删除</button>
                            </td>
                        </tr>
                        {/volist}
                        {if condition="$list->render() neq ''"}
                        <tr class="mypage" style="background:#fff;">
                            <td colspan="">{$list->render()}</td>
                        </tr>
                        {/if}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<button id="secMsg" style="display: none;"></button>
<script>
   $(function () {
       //为按钮添加链接
       addBind('#linkAdd','{:url('add')}');
       // //表格数据行数
       var rowsLen = $("tr").length - 2;
       //列合并最后一列
       if($("tr[class=mypage]").length != 0){
           colspan();
       }
       //单个删除
       delUrl = "{:url('del')}";
       ajaxDelete('button[flag=del]',delUrl,'#secMsg');
       //重置按钮
       $("#reset").on('click',function (e) {
           e.preventDefault();
           $("select").val($("option:first").val());
           $("input").val('');
       });
       $("#sidebar-menu a[href*=type" + "\\/"+ "lst]").parent().addClass('active').parent().parent().addClass('open');
   });
</script>

