@media only screen and (max-width:800px){
  .mySmallLogo{
    height:80px;
  }
  .myOperation{
    height:39px;
  }
}

.pagination p{
  display:inline-block;
  margin:0;
  cursor:pointer;
  border-radius: 5px;
}
.pagination{
  width:100%;
  text-align:center;
  height:40px;
  line-height:40px;
}
.pagination a{
  display:inline-block;
  margin-right:10px;
  padding:0 12px;
  height:24px;
  border:1px #cccccc solid;
  background:#fff;
  text-decoration:none;
  color:#808080;
  font-size:12px;
  line-height:24px;
  border-radius: 5px;
}
.pagination a:hover{
  color:#57b5e3;
  background: white;
  border:1px #57b5e3 solid;
}
.pagination a.cur{
  border:none;
  background:#57b5e3;
  color:#fff;
}
.pagination p{
  padding:0 12px;
  font-size:12px;
  height:24px;
  line-height:24px;
  color:#bbb;
  border:1px #ccc solid;
  background:#fcfcfc;
  margin-right:8px;

}
.pagination p.pageRemark{
  border-style:none;
  background:none;
  margin-right:0px;
  padding:4px 0px;
  color:#666;
}
.pagination p.pageRemark b{
  color:red;
}
.pagination p.pageEllipsis{
  border-style:none;
  background:none;
  padding:4px 0px;
  color:#808080;
}
.dates li {font-size: 14px;margin:20px 0}
.dates li span{float:right}
