<div class="user-side" ectype="userSide">
    <div class="user-mod user-perinfo">
        <div class="profile clearfix">
            <div class="avatar">
                <a href="/user/{$userData.id}.html" class="u-pic">
                    {if condition="$userData.avator neq ''"}{$userData.avator|showImage=###}
                    {else /}
                    <img src="__IMG__/touxiang.jpg" alt="">
                    {/if}
                    
                </a>
            </div>
            <div class="name">
                <h2>{$userData.userName}</h2>
                {switch name="$levelName"}
                {case value="注册会员"}<div class="user-rank user-rank-1">注册会员</div>{/case}
                {case value="中级会员"}<div class="user-rank user-rank-2">中级会员</div>{/case}
                {case value="高级会员"}<div class="user-rank user-rank-3">高级会员</div>{/case}
                {/switch}

            </div>
        </div>
        <div class="account">
            <div class="item clearfix">
                <div class="item-name">账户资料：</div>
                <div class="item-main">
                    <b class="integrity"><em style="width: {$progress}%;"></em></b><span>{$progress}%</span>
                </div>
            </div>
            <div class="item clearfix">
                <div class="item-name">账户安全：</div>
                <div class="item-main safe">
                    {if condition="$userData['eChecked'] eq 1"}
                    <a href="#" class="iconfont icon-email active"><span class="tip">邮箱已验证</span></a>
                    {else /}
                    <a href="#" class="iconfont icon-email "><span class="tip">邮箱未验证</span></a>
                    {/if}
                    {if condition="$userData['password'] neq ''"}
                    <a href="#" class="iconfont icon-password active"><span class="tip">密码已设置</span></a>
                    {else /}
                    <a href="#" class="iconfont icon-password"><span class="tip">密码未设置</span></a>
                    {/if}
                    {if condition="$userData['tChecked'] eq 1"}
                    <a href="#" class="iconfont icon-mobile-phone active"><span class="tip">手机已验证</span></a>
                    {else /}
                    <a href="#" class="iconfont icon-mobile-phone"><span class="tip">手机未验证</span></a>
                    {/if}
                </div>
            </div>
        </div>
    </div>
    <div class="user-mod">
        <div class="side-menu">
            <dl>
                <dt><i class="square"></i><span>订单中心</span></dt>
                <dd>
                    <p {if condition="$currOpt eq 'order'"}class="current"{/if}><a href="{:url('member/order/orderList')}" target="_self">我的订单</a></p>
                    <p {if condition="$currOpt eq 'address'"}class="current"{/if}><a href="{:url('member/address/address')}" target="_self">收货地址</a></p>
                </dd>
            </dl>
            <dl>
                <dt><i class="square"></i><span>会员中心</span></dt>
                <dd>
                    <p {if condition="$currOpt eq 'userInfo'"}class="current"{/if}><a href="{:url('member/user/userInfo')}" target="_self">用户信息</a></p>
                </dd>
            </dl>
        </div></div>
</div>
