<div id="container" class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="widget  radius-bordered">
            <div class="widget-header bg-themeprimary">
                <span class="widget-caption">添加商品</span>
            </div>
            <div class="widget-body">
                <div class="docs-example">
                    <ul class="nav nav-tabs tabs-flat">
                        <li class="active"><a href="#info-tab" data-toggle="tab">通用信息</a></li>
                        <li name="desc" class=""><a href="#desc-tab" data-toggle="tab">商品描述</a></li>
                        <li name="member" class=""><a href="#member-tab" data-toggle="tab">会员价格</a></li>
                        <li name="attr" class=""><a href="#attr-tab" data-toggle="tab">商品属性</a></li>
                    </ul>

                    <form id="adminForm" method="post" enctype="multipart/form-data" class="form-horizontal bv-form" novalidate="novalidate"><button type="submit" class="bv-hidden-submit" style="display: none; width: 0px; height: 0px;"></button>
                        <input type="hidden" name="id" value="{$goodsData.id}">
                        <div class="tab-content tabs-flat">
                            <div class="tab-pane active" id="info-tab">
                                <div class="form-group has-feedback">
                                    <label class="col-lg-2 control-label">品牌</label>
                                    <?=buildSelect('brand','brandId','id','brandName',$goodsData['brandId']);?>
                                </div>
                                <div class="form-group has-feedback" id="cate">
                                    <label class="col-lg-2 control-label">主分类</label>
                                    <div class="col-lg-3">
                                        <select class="form-control" name="cateId">
                                            <option value="0" selected="selected">请选择</option>
                                            {volist name="cateData" id="vo"}
                                            <option value="{$vo.id}" {if condition="$goodsData['cateId'] == $vo['id']"}selected="selected"{/if}>{$vo.level|str_repeat='-',### * 4}{$vo.cateName}</option>
                                            {/volist}
                                        </select>
                                    </div>
                                    <div class="pull-left" id="addCate" ><a class="btn btn-default btn-xs shiny icon-only blue" href="javascript:void(0);"><i class="fa fa-plus"></i></a></div>
                                </div>
                                {empty name="ecData"}
                                {else}
                                {volist name="ecData" id="vo" key="k"}
                                <div class="form-group has-feedback" name="cate">
                                    <label class="col-lg-2 control-label">扩展分类</label>
                                    <div class="col-lg-3">
                                        <select class="form-control" name="extCat[]">
                                            <option value="0" selected="selected">请选择</option>
                                            {volist name="cateData" id="vo1"}
                                            <option value="{$vo1.id}" {if condition="$vo['catId'] == $vo1['id']"}selected="selected"{/if}>{$vo1.level|str_repeat='-',### * 4}{$vo1.cateName}</option>
                                            {/volist}
                                        </select>
                                    </div>
                                    <div class="pull-left" name="delCate" ><a class="btn btn-default btn-xs shiny icon-only blue" href="javascript:void(0);"><i class="fa fa-minus"></i></a></div>
                                </div>
                                {/volist}
                                {/empty}
                                <div class="form-group has-feedback">
                                    <label class="col-lg-2 control-label">商品名称</label>
                                    <div class="col-lg-8">
                                        <input type="text" class="form-control" name="goodsName" value="{$goodsData.goodsName}" data-bv-field="goodsName"><i class="form-control-feedback" data-bv-icon-for="goodsName" style="display: none;"></i>
                                        <small class="help-block" data-bv-validator="notEmpty" data-bv-for="goodsName" data-bv-result="NOT_VALIDATED" style="display: none;">商品名称不能为空！</small></div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">缩略图</label>
                                    <div class="col-lg-1">
                                        <span class="file-input btn btn-azure btn-file">
                                            选择文件<input type="file" name="pic">
                                        </span>
                                    </div>
                                    {if condition="$goodsData['smPic'] neq ''"}
                                    <div class="col-lg-2 col-md-2 col-sm-2" >
                                        {$goodsData.smPic|showImage=$goodsData.smPic,65,65}
                                    </div>
                                    {/if}
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">商品编码</label>
                                    <div class="col-lg-8">
                                        <div class="radio">
                                            <span class="text">
                                                {$goodsData.num}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group has-feedback">
                                    <label class="col-lg-2 control-label">市场价格</label>
                                    <div class="col-lg-8">
                                        <input type="text" class="form-control" name="marketPrice" value="{$goodsData.marketPrice}" data-bv-field="marketPrice"><i class="form-control-feedback" data-bv-icon-for="marketPrice" style="display: none;"></i>
                                        <small class="help-block" data-bv-validator="notEmpty" data-bv-for="marketPrice" data-bv-result="NOT_VALIDATED" style="display: none;">市场价格不要超过10位字符！！</small></div>
                                </div>
                                <div class="form-group has-feedback">
                                    <label class="col-lg-2 control-label">门店价格</label>
                                    <div class="col-lg-8">
                                        <input type="text" class="form-control" name="shopPrice" value="{$goodsData.shopPrice}" data-bv-field="shopPrice"><i class="form-control-feedback" data-bv-icon-for="shopPrice" style="display: none;"></i>
                                        <small class="help-block" data-bv-validator="notEmpty" data-bv-for="shopPrice" data-bv-result="NOT_VALIDATED" style="display: none;">门店价格不要超过10位字符！！</small></div>
                                </div>
                                <div class="form-group has-feedback">
                                    <label class="col-lg-2 control-label">商品重量</label>
                                    <div class="col-lg-2" style="padding-right:0;">
                                        <input type="text" class="form-control" name="weight" value="{$goodsData.weight}" data-bv-field="weight"><i class="form-control-feedback" data-bv-icon-for="weight" style="display: none;"></i>
                                        <small class="help-block" data-bv-validator="notEmpty" data-bv-for="weight" data-bv-result="NOT_VALIDATED" style="display: none;">重量不要超过10位字符！！</small>
                                    </div>
                                    <label class="col-lg-1 control-label">单位</label>
                                    <div class="col-lg-2">
                                        <select class="form-control" name="unit">
                                            <option value="kg" {if condition="$goodsData['unit'] == 'kg'"}selected="selected"{/if}>kg</option>
                                            <option value="g" {if condition="$goodsData['unit'] == 'g'"}selected="selected"{/if}>g</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label no-padding-right">是否在售</label>
                                    <div class="col-xs-4">
                                        <label>
                                            <input class="checkbox-slider slider-icon yesno" name="onSale" value="1" {if condition="$goodsData['onSale'] == 1"}checked{/if} type="checkbox">
                                            <span class="text"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group has-feedback">
                                    <label class="col-lg-2 control-label">设置推荐位</label>
                                    <div class="col-lg-9">
                                        {volist name="recpData" id="vo"}
                                        <div class="checkbox col-lg-2">
                                            <label>
                                                <input name="recpId[]" type="checkbox" value="{$vo.id}" {if condition="in_array($vo.id,$recData)"}checked{/if} class="colored-blue">
                                                <span class="text"> {$vo.recName}</span>
                                            </label>
                                        </div>
                                        {/volist}
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="desc-tab">
                                <div id="desc" class="form-group">
                                    <label class="col-lg-1 control-label">商品描述</label>
                                    <div class="col-lg-9">
                                        <textarea name="desc" id="details">{$goodsData.desc}</textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="member-tab">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">是否开启</label>
                                    <div class="col-lg-2 radio">
                                        <label>
                                            <input id="mp" class="checkbox-slider slider-icon yesno" name="status" value="1" {if condition="$goodsData['status'] == 1"}checked{/if} type="checkbox">
                                            <span class="text"></span>
                                        </label>
                                    </div>
                                </div>
                                {empty name="mpData"}
                                <div class="form-group" id="mprice">
                                    {volist name="mlData" id="vo"}
                                    <div class="form-group">
                                        <label class="col-lg-2 col-md-2 col-sm-2 col-xs-9 control-label no-padding-right">{$vo.levelName}</label>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-9 no-padding-right">
                                            <input class="form-control" mp="mp" placeholder="留空按折扣算" name="mp[{$vo.id}]" type="text">
                                        </div>
                                        <div class="radio col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                            <span class="text">
                                                ￥
                                            </span>
                                        </div>
                                    </div>
                                    {/volist}
                                </div>
                                {else /}
                                <div class="form-group" id="mprice">
                                    {volist name="mlData" id="vo"}
                                    <div class="form-group">
                                        <label class="col-lg-2 col-md-2 col-sm-2 col-xs-9 control-label no-padding-right">{$vo.levelName}</label>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-9 no-padding-right">
                                            <input class="form-control" mp="mp" placeholder="留空按折扣算" name="mp[{$vo.id}]" value="{$mpData[$vo.id]}" type="text">
                                        </div>
                                        <div class="radio col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                            <span class="text">
                                                ￥
                                            </span>
                                        </div>
                                    </div>
                                    {/volist}
                                </div>
                                {/empty}
                            </div>
                            <div class="tab-pane" id="attr-tab">
                                <?php if(isset($typeName)):?>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">商品类型</label>
                                    <div class="col-lg-8">
                                        <div class="radio">
                                            <span class="text">
                                                {$typeName}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                    <?php
                                        $attrId = array();
                                        foreach($gaData as $k => $v):
                                        if(in_array($v['attrId'],$attrId)) {
                                            $flag = 'fa fa-minus';
                                        }else{
                                            $flag = 'fa fa-plus';
                                            $attrId[] = $v['attrId'];
                                        }
                                    ?>
                                    <div class="form-group" name="attrs">
                                        <label class="col-lg-2 control-label"><?=$v['attrName']?></label>
                                        <?php if($v['attrType'] == 1): ?>
                                        <div class="col-lg-3">
                                            <select class="form-control" name="attrVal[<?=$v['attrId']?>][]">
                                                <option value="0">请选择</option>
                                                <?php $attr = explode(',',$v['attrValues']);?>
                                                <?php foreach($attr as $k1 => $v1):
                                                        if($v['attrVal'] == $v1) {
                                                            $select = 'selected="selected"';
                                                        }else{
                                                            $select = '';
                                                        }
                                                ?>
                                                <option <?=$select?> value="<?=$v1?>"><?=$v1?></option>
                                                <?php endforeach; ?>
                                            </select>
                                        </div>
                                        <div class="col-lg-1">
                                            <input class="form-control" name="attrPrice[<?=$v['attrId']?>][]" type="text" placeholder="属性价格" value="<?=$v['attrPrice']?>">
                                        </div>
                                        <a class="btn btn-default btn-xs shiny icon-only blue" href="javascript:void(0);" name="addThis"><i class="<?=$flag?>"></i></a>
                                        <?php else: ?>
                                        <div class="col-lg-3">
                                            <input type="text" class="form-control" name="attrVal[<?=$v['attrId']?>][]" value="<?=$v['attrVal']?>">
                                            <input type="hidden" class="form-control" name="attrPrice[<?=$v['attrId']?>][]" value="">
                                        </div>
                                        <?php endif; ?>
                                        <input type="hidden" name="gaId[]" value="<?=$v['id'];?>"/>
                                    </div>
                                    <?php endforeach; ?>
                                </div>
                                <?php else:?>
                                <div class="form-group" id="addAttr">
                                    <label class="col-lg-2 control-label">商品类型</label>
                                    <?=buildSelect('type','typeId','id','typeName');?>
                                </div>
                                <?php endif; ?>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-8 col-lg-offset-4">
                                    <button type="submit" class="btn btn-azure">提交</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--End Success Modal Templates-->
<button id="secMsg" style="display: none;"></button>
<!--bootstrap表单验证-->
<script src="__JS__/validation/bootstrapValidator.js"></script>
<script src="__PLUGINS__/ue/ueditor.config.js"></script>
<script src="__PLUGINS__/ue/ueditor.all.min.js"></script>
<script src="__PLUGINS__/ue/lang/zh-cn/zh-cn.js"></script>
<script>
    $(document).ready(function () {
        //在线编辑器
        UE.getEditor('details',{initialFrameHeight:400,
            toolbars: [["fullscreen","source","fontfamily","forecolor","fontsize","unlink","link","simpleupload",'insertimage',"emotion","bold","italic","underline","justifyleft","justifycenter","justifyright","removeformat","formatmatch","lineheight","insertorderedlist","insertunorderedlist","cleardoc","searchreplace","preview","|","redo","undo","indent","backcolor"]]
        });
        $("#desc").css("display","none");
        $("li[name='desc']").on("click",function () {
            $("#desc").css("display","block");
        });
        $('#adminForm').bootstrapValidator({
            // Only disabled elements are excluded
            // The invisible elements belonging to inactive tabs must be validated5
            excluded: [':disabled'],
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                goodsName: {
                    validators: {
                        notEmpty: {
                            message: '商品名称不能为空！'
                        },
                        stringLength: {
                            min: 1,
                            max: 128,
                            message: '商品名称不要超过128位字符！'
                        }
                    }
                },
                num: {
                    validators: {
                        stringLength: {
                            min: 1,
                            max: 16,
                            message: '商品编码不要超过16位字符！'
                        }
                    }
                },
                marketPrice: {
                    validators: {
                        stringLength: {
                            min: 1,
                            max: 10,
                            message: '市场价格不要超过10位字符！'
                        }
                    }
                },
                shopPrice: {
                    validators: {
                        stringLength: {
                            min: 1,
                            max: 10,
                            message: '门店价格不要超过10位字符！'
                        }
                    }
                },
                weight: {
                    validators: {
                        stringLength: {
                            min: 1,
                            max: 10,
                            message: '重量不要超过10位字符！'
                        }
                    }
                },
                unit: {
                    validators: {
                        stringLength: {
                            min: 1,
                            max: 10,
                            message: '单位不要超过10位字符！'
                        }
                    }
                }
            }
        });
        if(!$("#mp").prop("checked")) {
            $("#mprice").css("display","none");
        }
        //会员价格
        $("#mp").on('click',function () {
            var status = $(this).prop("checked");
            if(status) {
                $("input[mp=mp]").each(function (k,v) {
                    $(v).prop("disabled",false);
                });
                $("#mprice").slideDown(500);
            }else {
                $("input[mp=mp]").each(function (k,v) {
                    $(v).prop("disabled",true);
                });
                $("#mprice").slideUp(500);
            }
        });
        //扩展分类
        $("div[name=delCate]").each(function (k,v) {
            $(v).on('click',function () {
                $(this).parent().remove();
            })
        });
        $("#addCate").on('click',function () {
            var newBut = $(this).clone();
            var newCate = $(this).prev().clone();
            newCate.find("select").attr("name","extCat[]").val("0");
            newBut.removeAttr('id').attr('name','delCate').find("i").removeClass('fa-plus').addClass('fa-minus');
            var structure = ' <div class="form-group has-feedback" name="cate"><label class="col-lg-2 control-label">扩展分类</label></div>';
            $("#cate").after(structure);
            $("div[name=cate]").eq(0).append(newCate).append(newBut);
            $(newBut).on('click',function () {
                $(this).parent().remove();
            });
        });
        //商品属性
        $("select[name=typeId]").on('change',function () {
            var val = $(this).val();
            if(val) {
                $.ajax({
                    url: "{:url('getAttr')}",
                    method: 'post',
                    data: {typeId: "" + val + ""},
                    success: function (data) {
                        $("#addAttr").nextAll().remove();
                        if(data) {
                            data = JSON.parse(data);
                            $(data).each(function (k, v) {
                                var structure = '<div class="form-group" name="attrs"><label class="col-lg-2 control-label">' + v.attrName + '</label></div>';
                                var a = '<a class="btn btn-default btn-xs shiny icon-only blue" href="javascript:void(0);" name="addThis"><i class="fa fa-plus"></i></a>';
                                if(v.attrType == 1) {
                                    var select = '<div class="col-lg-3">';
                                    select += '<select class="form-control" name="attrVal['+v.id+'][]"><option value="0">请选择</option>';
                                    var arr = v.attrValues.split(',');
                                    for(var i = 0;i < arr.length; ++i) {
                                        select += '<option value="'+ arr[i] + '">' + arr[i] + '</option>';
                                    }
                                    select += '</select>';
                                    var input = '<div class="col-lg-1">' +
                                        '<input class="form-control" name="attrPrice['+v.id+'][]" type="text" placeholder="属性价格">' +
                                        '</div>';
                                    $("#addAttr").after(structure);
                                    $("div[name=attrs]").eq(0).append(select).append(input).append(a);
                                    $("a[name=addThis]").eq(0).on('click',function () {
                                        addNewAttr(this);
                                    })
                                }else {
                                    var input = '<div class="col-lg-3">' +
                                        '<input class="form-control" name="attrVal['+v.id+'][]" type="text">' +
                                        '</div>';
                                    $("#addAttr").after(structure);
                                    $("div[name=attrs]").eq(0).append(input);
                                }
                            })
                        }
                    }
                });
            }
        });
        $("a[name=addThis]").each(function (k, v) {
            $(v).on('click',function () {
                addNewAttr(this);
            })
        });
        //点击按钮
        function addNewAttr(a) {
            var div = $(a).parent();
            if($(a).find("i").hasClass("fa-plus")) {
                var newDiv = div.clone();
                newDiv.find("select").val(0);
                newDiv.find("input[name='gaId[]']").val('');
                newDiv.find("i").removeClass().addClass("fa fa-minus");
                newDiv.find("input").val("");
                newDiv.find("a").on('click',function () {
                    $(this).parent().remove();
                });
                div.after(newDiv);
            }else {
                $(a).parent().remove();
            }
        }
        $("#sidebar-menu a[href*=goods" + "\\/"+ "lst]").parent().addClass('active').parent().parent().addClass('open');
    });
</script>
