<div id="container" class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="widget  radius-bordered">
            <div class="widget-header bg-themeprimary">
                <span class="widget-caption">添加管理员</span>
            </div>
            <div class="widget-body">
                <div class="docs-example">
                    <ul class="nav nav-tabs tabs-flat">
                        <li class="active"><a href="#info-tab" data-toggle="tab">信息填写</a></li>
                    </ul>

                    <form id="adminForm" method="post" enctype="multipart/form-data" class="form-horizontal bv-form" novalidate="novalidate"><button type="submit" class="bv-hidden-submit" style="display: none; width: 0px; height: 0px;"></button>
                        <div class="tab-content tabs-flat">
                            <div class="tab-pane active" id="info-tab">
                                <div class="form-group has-feedback">
                                    <label class="col-lg-2 control-label">用户名</label>
                                    <div class="col-lg-8">
                                        <input type="text" class="form-control" name="userName" data-bv-field="userName"><i class="form-control-feedback" data-bv-icon-for="userName" style="display: none;"></i>
                                        <small class="help-block" data-bv-validator="notEmpty" data-bv-for="userName" data-bv-result="NOT_VALIDATED" style="display: none;">昵称不能为空！</small></div>
                                </div>
                                <div class="form-group has-feedback">
                                    <label class="col-lg-2 control-label">密码</label>
                                    <div class="col-lg-8">
                                        <input type="password" class="form-control" name="password" data-bv-field="password"><i class="form-control-feedback" data-bv-icon-for="password" style="display: none;"></i>
                                        <small class="help-block" data-bv-validator="notEmpty" data-bv-for="password" data-bv-result="NOT_VALIDATED" style="display: none;">密码不能为空！</small></div>
                                </div>
                                <div class="form-group has-feedback">
                                    <label class="col-lg-2 control-label">邮箱</label>
                                    <div class="col-lg-4">
                                        <input type="text" class="form-control" name="email" data-bv-field="email"><i class="form-control-feedback" data-bv-icon-for="email" style="display: none;"></i>
                                        <small class="help-block" data-bv-validator="stringLength" data-bv-for="email" data-bv-result="NOT_VALIDATED" style="display: none;">邮箱不要超过40位字符！</small></div>
                                    <label class="col-lg-1 control-label no-padding-right">是否通过验证</label>
                                    <div class="col-lg-4">
                                        <label>
                                            <input class="checkbox-slider slider-icon yesno" name="eChecked" value="1"  type="checkbox">
                                            <span class="text"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group has-feedback">
                                    <label class="col-lg-2 control-label">手机号</label>
                                    <div class="col-lg-4">
                                        <input type="text" class="form-control" name="tel" data-bv-field="tel"><i class="form-control-feedback" data-bv-icon-for="tel" style="display: none;"></i>
                                        <small class="help-block" data-bv-validator="stringLength" data-bv-for="tel" data-bv-result="NOT_VALIDATED" style="display: none;">手机号不要超过11位字符！</small></div>
                                    <label class="col-lg-1 control-label no-padding-right">是否通过验证</label>
                                    <div class="col-lg-4">
                                        <label>
                                            <input class="checkbox-slider slider-icon yesno" name="tChecked" value="1"  type="checkbox">
                                            <span class="text"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group has-feedback">
                                    <label class="col-lg-2 control-label">积分</label>
                                    <div class="col-lg-8">
                                        <input type="text" class="form-control" name="points" data-bv-field="points"><i class="form-control-feedback" data-bv-icon-for="points" style="display: none;"></i>
                                        <small class="help-block" data-bv-validator="between" data-bv-for="points" data-bv-result="NOT_VALIDATED" style="display: none;">积分不得超多16777215！</small></div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">头像</label>
                                    <div class="col-lg-1">
                                        <span class="file-input btn btn-azure btn-file">
                                            选择文件<input type="file" name="avator">
                                        </span>
                                    </div>
                                </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-8 col-lg-offset-4">
                                <button type="submit" class="btn btn-azure">提交</button>
                            </div>
                        </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--End Success Modal Templates-->
<button id="secMsg" style="display: none;"></button>
<!--bootstrap表单验证-->
<script src="__JS__/validation/bootstrapValidator.js"></script>
<script>
    $(document).ready(function () {
        $('#adminForm').bootstrapValidator({
            // Only disabled elements are excluded
            // The invisible elements belonging to inactive tabs must be validated5
            excluded: [':disabled'],
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                userName: {
                    validators: {
                        notEmpty: {
                            message: '用户名不能为空！'
                        },
                        stringLength: {
                            min: 1,
                            max: 60,
                            message: '用户名不要超过60位字符！'
                        }
                    }
                },
                password: {
                    validators: {
                        notEmpty: {
                            message: '密码不能为空！'
                        },
                        stringLength: {
                            min: 1,
                            max: 40,
                            message: '密码不要超过40位字符！'
                        }
                    }
                },
                email: {
                    validators: {
                        stringLength: {
                            min: 1,
                            max: 60,
                            message: '邮箱不要超过40位字符！'
                        },
                        emailAddress: {
                            message: '邮箱格式不正确'
                        }
                    }
                },
                tel: {
                    validators: {
                        stringLength: {
                            min: 1,
                            max: 11,
                            message: '手机号不要超过40位字符！'
                        },
                        regexp: {
                            regexp: '^1[3|4|5|7|8][0-9]{9}$',
                            message: '手机号格式不正确'
                        }
                    }
                },
                points: {
                    validators: {
                        between: {
                            min: 0,
                            max: 16777215,
                            message: '积分不得超多16777215！'
                        }
                    }
                },
            }
        });
        //设置当前页面的菜单高亮显示 开始
        $("#sidebar-menu a[href*=admin" + "\\/"+ "lst]").parent().addClass('active').parent().parent().addClass('open');
    });
</script>
